.ngoblin-ws-panel {
    height: 100%;
}
.ngoblin-ws-panel .rs-tree {
    height: 100%;
    overflow: auto;
}
.ngoblin-ws-panel .rs-tree-view {
    max-height: inherit;
    height: 100%;
}
.ngoblin-ws-header {
    background: var(--rs-gray-200);
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 2px;
}
.ngoblin-ws-title {
    flex-grow: 1
}
